<template>
  <div style="display: flex; justify-content: center; align-items: center; height: 90vh">
    <h1 class="display-1">Twitter Monitor v3</h1>
  </div>
  <div class="text-center">NEST.MOE</div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
export default defineComponent({
  setup() {

  }
})
</script>

<style scoped>

</style>