$primary: #1da1f2;
$gold: #DCAB00;
.text-gold {
  color: $gold;
}
$min-contrast-ratio: 2.5;//default value is 4.5, but while I setting it to 3, color of text in active button will become black
@import "../../node_modules/bootstrap/scss/bootstrap";
/* for links */
a {
  &:link {text-decoration: none;}
  &:hover {text-decoration: underline;}
}

.light-mode {
  background-color: #ffffff;
  color: #011100;
}
.dark-mode {
  background-color: #011100;
  color: #ffffff;
}
.bg-twitter-blue {
  background-color: $primary;
}
.plyr {
  border-radius: 14px;
}
.tweet-background {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
    & .background-second {
      background-color: transparent;
    }
  }
  & .background-second {
    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
}
.background-second {
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}
.clickable-text {
  &:hover {
    color: darken($primary, 5%);
  }
}
.margin-for-inner-text-svg {
  margin: 0 0.125rem 0.25rem 0.125rem;
}

.full {
  height: 100%;
  width: 100%
}